<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>200</integer>
	<key>data</key>
	<dict>
		<key>0.7fp.txt</key>
		<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Ftxt%2F0.7fp.txt?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=xUw2FcbP3su89UpfP%2BtlfCSfbuA%3D</string>
		<key>beat_speed</key>
		<integer>144</integer>
		<key>coordinate</key>
		<dict>
			<key>0</key>
			<array>
				<integer>418</integer>
				<integer>759</integer>
				<integer>4582</integer>
				<integer>1325</integer>
				<integer>1419</integer>
				<integer>5000</integer>
			</array>
			<key>1</key>
			<array>
				<integer>296</integer>
				<integer>114</integer>
				<integer>4714</integer>
				<integer>728</integer>
				<integer>926</integer>
				<integer>5010</integer>
			</array>
			<key>10</key>
			<array>
				<integer>300</integer>
				<integer>95</integer>
				<integer>4714</integer>
				<integer>759</integer>
				<integer>896</integer>
				<integer>5015</integer>
			</array>
			<key>11</key>
			<array>
				<integer>300</integer>
				<integer>135</integer>
				<integer>4714</integer>
				<integer>689</integer>
				<integer>878</integer>
				<integer>5015</integer>
			</array>
			<key>12</key>
			<array>
				<integer>301</integer>
				<integer>176</integer>
				<integer>4713</integer>
				<integer>776</integer>
				<integer>1028</integer>
				<integer>5015</integer>
			</array>
			<key>13</key>
			<array>
				<integer>299</integer>
				<integer>228</integer>
				<integer>4716</integer>
				<integer>879</integer>
				<integer>1070</integer>
				<integer>5015</integer>
			</array>
			<key>14</key>
			<array>
				<integer>300</integer>
				<integer>230</integer>
				<integer>4714</integer>
				<integer>796</integer>
				<integer>992</integer>
				<integer>5015</integer>
			</array>
			<key>15</key>
			<array>
				<integer>300</integer>
				<integer>212</integer>
				<integer>4712</integer>
				<integer>762</integer>
				<integer>874</integer>
				<integer>5013</integer>
			</array>
			<key>16</key>
			<array>
				<integer>280</integer>
				<integer>225</integer>
				<integer>4695</integer>
				<integer>803</integer>
				<integer>1017</integer>
				<integer>4976</integer>
			</array>
			<key>17</key>
			<array>
				<integer>252</integer>
				<integer>206</integer>
				<integer>4670</integer>
				<integer>845</integer>
				<integer>999</integer>
				<integer>4922</integer>
			</array>
			<key>18</key>
			<array>
				<integer>261</integer>
				<integer>208</integer>
				<integer>4677</integer>
				<integer>844</integer>
				<integer>1021</integer>
				<integer>4939</integer>
			</array>
			<key>19</key>
			<array>
				<integer>272</integer>
				<integer>177</integer>
				<integer>4689</integer>
				<integer>804</integer>
				<integer>936</integer>
				<integer>4962</integer>
			</array>
			<key>2</key>
			<array>
				<integer>291</integer>
				<integer>251</integer>
				<integer>4709</integer>
				<integer>827</integer>
				<integer>934</integer>
				<integer>5000</integer>
			</array>
			<key>20</key>
			<array>
				<integer>278</integer>
				<integer>129</integer>
				<integer>4698</integer>
				<integer>766</integer>
				<integer>954</integer>
				<integer>4976</integer>
			</array>
			<key>21</key>
			<array>
				<integer>302</integer>
				<integer>179</integer>
				<integer>4723</integer>
				<integer>769</integer>
				<integer>906</integer>
				<integer>5025</integer>
			</array>
			<key>22</key>
			<array>
				<integer>275</integer>
				<integer>98</integer>
				<integer>4693</integer>
				<integer>807</integer>
				<integer>1014</integer>
				<integer>4968</integer>
			</array>
			<key>23</key>
			<array>
				<integer>273</integer>
				<integer>230</integer>
				<integer>4694</integer>
				<integer>818</integer>
				<integer>1068</integer>
				<integer>4967</integer>
			</array>
			<key>24</key>
			<array>
				<integer>295</integer>
				<integer>97</integer>
				<integer>4716</integer>
				<integer>669</integer>
				<integer>787</integer>
				<integer>5012</integer>
			</array>
			<key>25</key>
			<array>
				<integer>278</integer>
				<integer>260</integer>
				<integer>4704</integer>
				<integer>884</integer>
				<integer>1001</integer>
				<integer>4982</integer>
			</array>
			<key>26</key>
			<array>
				<integer>301</integer>
				<integer>270</integer>
				<integer>4723</integer>
				<integer>900</integer>
				<integer>1287</integer>
				<integer>5025</integer>
			</array>
			<key>3</key>
			<array>
				<integer>276</integer>
				<integer>247</integer>
				<integer>4688</integer>
				<integer>851</integer>
				<integer>954</integer>
				<integer>4965</integer>
			</array>
			<key>4</key>
			<array>
				<integer>301</integer>
				<integer>108</integer>
				<integer>4711</integer>
				<integer>676</integer>
				<integer>915</integer>
				<integer>5013</integer>
			</array>
			<key>5</key>
			<array>
				<integer>304</integer>
				<integer>302</integer>
				<integer>4710</integer>
				<integer>1042</integer>
				<integer>1136</integer>
				<integer>5015</integer>
			</array>
			<key>6</key>
			<array>
				<integer>298</integer>
				<integer>246</integer>
				<integer>4716</integer>
				<integer>960</integer>
				<integer>1121</integer>
				<integer>5015</integer>
			</array>
			<key>7</key>
			<array>
				<integer>297</integer>
				<integer>163</integer>
				<integer>4718</integer>
				<integer>880</integer>
				<integer>1009</integer>
				<integer>5015</integer>
			</array>
			<key>8</key>
			<array>
				<integer>296</integer>
				<integer>174</integer>
				<integer>4719</integer>
				<integer>897</integer>
				<integer>1107</integer>
				<integer>5015</integer>
			</array>
			<key>9</key>
			<array>
				<integer>231</integer>
				<integer>232</integer>
				<integer>4651</integer>
				<integer>948</integer>
				<integer>1049</integer>
				<integer>4883</integer>
			</array>
		</dict>
		<key>fp_txt</key>
		<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Ftxt%2Ffp.txt?OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=OIMt4u%2FpHQ0GuTJ5AglH6hQM%2FNc%3D</string>
		<key>img_url</key>
		<array>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F0.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=UXis7wLj6p0qImtEXLYwY3oSBZs%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F1.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=7jWxs1g7IVLab9DouDAo2SEivYU%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F2.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=S8YnclYQofdR%2Fa0QzRPSoXCUBXs%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F3.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=1oEkgAoCNH5rcKZ7ODVjxKtRF8g%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F4.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=bqajcQx%2B7%2Bnd4FY9wv9OLRoSAN4%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F5.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=DyFapaQWRQIzaXGk4BThJ1nqDxI%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F6.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=xGgVXrX8I0tFLkKamf0eiztXkYM%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F7.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=5fjIck5frpLcPaqEoHGalRxW9Xk%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F8.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=ndo2Htbf66q4CrDkB7YUsHh4x%2BQ%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F9.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=9aAfd%2F1W9FaPAN4g80MbCfvuMv4%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F10.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=3nYNHe71P%2BCAA6puCCOhheT5MOM%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F11.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=2i4YIVOVzV1%2B30xjhbEk%2B53s55k%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F12.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=HS0wp%2BOtHNwksS4hcY5JcRLHLFk%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F13.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=%2FF1crqT0TRqQRz6vDPEj8ENIhXE%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F14.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=bwRpv6OGAO%2BkktSGiB8Ddc%2FBnDk%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F15.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=tk7lJlzPim4kYV1vKnY%2FO%2FnV2Qw%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F16.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=4FikcCWykl3NskJ9WMNxFpuVDLo%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F17.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=HmA6Vzj0fXCmvb%2BlguVnP9Si%2BMU%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F18.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=7YbPc195SnpuR7zEO4Ru51sQfOY%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F19.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=Gh5YmCi1MRyj78TxNSTaidEGnZs%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F20.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=5OVPOgjSb7UOqvkpUyoPlAt7Vc0%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F21.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=C7j2dXUXXsQNCH8VB5whvrGu3a4%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F22.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=XMWMB2EtUeXe54FgsxUZVe5x9RU%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F23.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=4JvokiQ%2FeIn8%2BaZctGUDEdEqBog%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F24.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=6xSWvWiMxCU8Tzgf3rklWg%2B98Bo%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F25.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=n%2FjYlkp2CBGslW0JxPhGaAFdmH4%3D</string>
			<string>http://mnc-hdqp.oss-cn-shanghai.aliyuncs.com/score%2F%E9%92%A2%E7%90%B4%2F%E4%B8%AD%E5%9B%BD%E9%9F%B3%E4%B9%90%E5%AE%B6%E5%8D%8F%E4%BC%9A%2F%E5%8D%81%E7%BA%A7%2F16.%E7%AB%A5%E5%AC%89%20%E6%9C%B1%E8%B7%B5%E8%80%B3%E6%9B%B2%2Fimg%2F26.png?x-oss-process=image%2Fresize%2Cm_lfit%2Cw_1194&amp;OSSAccessKeyId=LTAIQ8Lif1HHVkXd&amp;Expires=1602794374&amp;Signature=yZcJDoecTj9K%2FYjwUuO5HNHB32k%3D</string>
		</array>
		<key>metronome</key>
		<integer>3</integer>
		<key>musical</key>
		<string>钢琴</string>
		<key>musical_id</key>
		<integer>1</integer>
		<key>new_metronome</key>
		<integer>2</integer>
		<key>number</key>
		<integer>27</integer>
		<key>time_node</key>
		<array>
			<array>
				<real>7.54</real>
				<integer>0</integer>
			</array>
			<array>
				<real>15.130000000000001</real>
				<integer>1</integer>
			</array>
			<array>
				<real>18.899999999999999</real>
				<integer>2</integer>
			</array>
			<array>
				<real>22.629999999999999</real>
				<integer>3</integer>
			</array>
			<array>
				<real>29.129999999999999</real>
				<integer>4</integer>
			</array>
			<array>
				<real>32.670000000000002</real>
				<integer>5</integer>
			</array>
			<array>
				<real>38.240000000000002</real>
				<integer>6</integer>
			</array>
			<array>
				<real>43.609999999999999</real>
				<integer>7</integer>
			</array>
			<array>
				<real>49.18</real>
				<integer>8</integer>
			</array>
			<array>
				<real>55.270000000000003</real>
				<integer>9</integer>
			</array>
			<array>
				<real>59.609999999999999</real>
				<integer>10</integer>
			</array>
			<array>
				<real>65.349999999999994</real>
				<integer>11</integer>
			</array>
			<array>
				<real>71.480000000000004</real>
				<integer>12</integer>
			</array>
			<array>
				<real>79.920000000000002</real>
				<integer>13</integer>
			</array>
			<array>
				<real>85.75</real>
				<integer>14</integer>
			</array>
			<array>
				<real>92.980000000000004</real>
				<integer>15</integer>
			</array>
			<array>
				<real>99.530000000000001</real>
				<integer>16</integer>
			</array>
			<array>
				<real>105.78</real>
				<integer>17</integer>
			</array>
			<array>
				<real>111.04000000000001</real>
				<integer>18</integer>
			</array>
			<array>
				<real>117.34</real>
				<integer>19</integer>
			</array>
			<array>
				<real>121.40000000000001</real>
				<integer>20</integer>
			</array>
			<array>
				<real>126.64</real>
				<integer>21</integer>
			</array>
			<array>
				<real>132.12</real>
				<integer>22</integer>
			</array>
			<array>
				<real>138.12</real>
				<integer>23</integer>
			</array>
			<array>
				<real>142.81</real>
				<integer>24</integer>
			</array>
			<array>
				<real>147.56</real>
				<integer>25</integer>
			</array>
			<array>
				<real>160.81</real>
				<integer>26</integer>
			</array>
		</array>
		<key>turning_time_node</key>
		<array>
			<array>
				<real>4.5999999999999996</real>
				<integer>0</integer>
			</array>
			<array>
				<real>11.699999999999999</real>
				<integer>1</integer>
			</array>
			<array>
				<real>16.699999999999999</real>
				<integer>2</integer>
			</array>
			<array>
				<real>22.100000000000001</real>
				<integer>3</integer>
			</array>
			<array>
				<real>28.300000000000001</real>
				<integer>4</integer>
			</array>
			<array>
				<real>34.100000000000001</real>
				<integer>5</integer>
			</array>
			<array>
				<real>39.5</real>
				<integer>6</integer>
			</array>
			<array>
				<real>45.299999999999997</real>
				<integer>7</integer>
			</array>
			<array>
				<real>51.100000000000001</real>
				<integer>8</integer>
			</array>
			<array>
				<real>56.899999999999999</real>
				<integer>9</integer>
			</array>
			<array>
				<real>62.700000000000003</real>
				<integer>10</integer>
			</array>
			<array>
				<real>68.5</real>
				<integer>11</integer>
			</array>
			<array>
				<real>76.400000000000006</real>
				<integer>12</integer>
			</array>
			<array>
				<real>84.700000000000003</real>
				<integer>13</integer>
			</array>
			<array>
				<real>90.900000000000006</real>
				<integer>14</integer>
			</array>
			<array>
				<real>99.200000000000003</real>
				<integer>15</integer>
			</array>
			<array>
				<real>107.09999999999999</real>
				<integer>16</integer>
			</array>
			<array>
				<real>114.2</real>
				<integer>17</integer>
			</array>
			<array>
				<real>120</real>
				<integer>18</integer>
			</array>
			<array>
				<real>125.8</real>
				<integer>19</integer>
			</array>
			<array>
				<real>131.59999999999999</real>
				<integer>20</integer>
			</array>
			<array>
				<real>138.30000000000001</real>
				<integer>21</integer>
			</array>
			<array>
				<real>144.09999999999999</real>
				<integer>22</integer>
			</array>
			<array>
				<real>150.80000000000001</real>
				<integer>23</integer>
			</array>
			<array>
				<real>157</real>
				<integer>24</integer>
			</array>
			<array>
				<real>163.19999999999999</real>
				<integer>25</integer>
			</array>
			<array>
				<real>166.5</real>
				<integer>26</integer>
			</array>
		</array>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>message</key>
	<string></string>
	<key>state</key>
	<integer>0</integer>
</dict>
</plist>
